:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html {
  font-size: 15.5px;
  font-variant: none;
  font-feature-settings: 'ss01','ss02','ss03','cv01','tnum';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

input {
  appearance: textfield;
  -moz-appearance: textfield;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
  border: none;
  background-color: transparent;
}

button{
  text-align: center;
  cursor: pointer;
  user-select: none;
  appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar{
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}